.refresh-button {
  margin-top: 1rem;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 30%;
}
